<br>
<br>
<br>

<div class="row">
  <div class="col-lg-4 col-sm-4"></div>
  <div class="col-lg-4 col-sm-4" class ="journey">

    <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
    <div class="card-header"><h1>{{title}}</h1></div>
    <div class="card-body">
    <h4 class="card-title">
    <p class="card-text"><h6>THE JOURNEY OF A THOUSAND MILES BEGINS WITH ONE STEP</h6></p>
    </div>
    </div>

  </div>
  <div class="col-lg-4 col-sm-4">
  </div>
</div>