
<br>
<div class="row">
  <div class="col-lg-3 col-sm-3"></div>
  <div class="col-lg-6 col-sm-6" class ="journey">
    <h4 class = "journey">  A start to your amazing journey in cooking..</h4>
  </div>
  <div class="col-lg-3 col-sm-3">
  </div>
</div>

<br>
<div class ="center">
<div class="row">
  <div class="col-lg-1 col-sm-3">
  </div>
  <div class="col-lg-10 col-sm-6 tutorial-intro">
      <p class ="mobiletext">"My main goal is for you to learn 
      the fundamentals in cooking so you can 
      apply what you've learned and improve on your techniques day-by-day."
      <br><br>
      <h6>IMPORTANT: WHEN TAKING A PICTURE PLEASE ROTATE YOUR PHONE SIDEWAYS</h6>
      </p>
        <br>
  </div>
  <div class="col-lg-1 col-sm-3">    
  </div>
</div>

<div class="container">
    <header class="header">
    
        <div class="row">
        <div class="col-lg-1 col-sm-0">
        </div>
        <div class="col-lg-5 col-sm-6">
            <div class="card border-primary mb-3" style="max-width: 20rem;">
            <div class="card-header default-black mobiletext"><h6>TOP 5 FOR BEGINNERS</h6></div>
            <div class="card-body">
            <h4 class="card-title"></h4>
            <p class="card-text default mobiletext">Basic skills you'll need in the kitchen taught by Gordon Ramsay himself. From cooking rice, chopping an onion, sharpening a knife, deboning a fish and cooking pasta from Gordon's Ultimate Cookery Course.</p></div>
            <button type="button" class="btn btn-outline-primary mobiletext"><a href = "https://www.youtube.com/watch?v=ZJy1ajvMU1k">MORE INFO</a></button></div>
        </div>

        <div class="col-lg-5 col-sm-6">
            <div class="card border-primary mb-3" style="max-width: 20rem;">
            <div class="card-header default-black mobiletext"><h6>THE 5 MOTHER SAUCES</h6></div>
            <div class="card-body">
            <h4 class="card-title"></h4>
            <p class="card-text default mobiletext">Béchamel, Velouté, Espagnole, Tomato and Hollandaise. In the culinary arts, the term "mother sauce" refers to any one of five basic sauces"</p></div>
            <button type="button" class="btn btn-outline-primary mobiletext"><a href = "https://guide.michelin.com/hk/en/hong-kong-macau/dining-in/the-5-mother-sauces-of-french-cuisine/news">MORE INFO</a></button></div>
        </div>

        <div class="col-lg-1 col-sm-0">
        </div>
</div>
</div>
{{!--  --}}
{{!--  --}}
<div class="container">
    <header class="header">
    
        <div class="row">
        <div class="col-lg-1 col-sm-0">
        </div>
        <div class="col-lg-5 col-sm-6">
            <div class="card border-primary mb-3" style="max-width: 20rem;">
            <div class="card-header default-black"><h6>CHOOSING THE CUT</h6></div>
            <div class="card-body">
            <h4 class="card-title"></h4>
            <p class="card-text default">The first step in cooking a perfect steak is choosing the right cut of beef. You want one that's tender and has plenty of marbling. In general, the best cuts of beef for steak come from the rib, short loin or tenderloin primal cuts.</p></div>
            <button type="button" class="btn btn-outline-primary mobiletext"><a href = "https://www.youtube.com/watch?v=ue_kg_3savo">MORE INFO</a></button></div>
        </div>

        <div class="col-lg-5 col-sm-6">
            <div class="card border-primary mb-3" style="max-width: 20rem;">
            <div class="card-header default-black"><h6>BASIC KNIFE TECHNIQUES</h6></div>
            <div class="card-body">
            <h4 class="card-title"></h4>
            <p class="card-text default">Good knife skills help improve the quality of the food you cook by ensuring uniform cooking times and making it look nicer. Here is a video of the basics cutting techniques taught by chef Camilla and chef Brett in Sydney, Australia.</p></div>
            <button type="button" class="btn btn-outline-primary mobiletext"><a href = "https://www.youtube.com/watch?v=tcuJcS6qS3g">MORE INFO</a></button></div>
        </div>

        <div class="col-lg-1 col-sm-0">
        </div>
      </header>
      </div>




