{{!--  --}}
<h1> MAKE YOUR OWN! </h1>
<a href="/recipes"><button class="btn btn-danger">back to main page</button></a>
<br>
<br>
{{!-- CLOUDINARY --}}
<form action="/recipes/create" method="post" enctype="multipart/form-data">

<label>Name:</label>
<input type="text" name="name" class="form-control">
<br>
<br>
<label>Ingredient:</label>

{{#each allIngredients}}
  <input type="checkbox" name="ingredient" value="{{ this.name }}">{{ this.name }}
{{/each}}

<br>
<br>
<label>Instructions:</label>
<textarea name="instruction" cols="30" rows="10" class="form-control"></textarea>
<br>
<br>
<input type = "file" name = "photo">
<button type = "submit" ></button>
<br>
<br>
<button type="submit" class="btn btn-primary">Save Recipe</button>
</form>
