
<div class = "private">
<a href="/recipes"></a><img href="/recipes" src="https://res.cloudinary.com/duschand1111/image/upload/v1534288367/food.jpg" class= "landingImage" title="food" alt="food"></a>
{{#if user}}
    <h3 class = "user">Welcome, {{user.username}}</h3>
{{/if}}
</div>